{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Nuestra empresa se dedica a mejorar la producción agrícola mediante el uso de tecnología innovadora. Ofrecemos soluciones y herramientas que ayudan a los agricultores a optimizar sus cultivos, aumentar rendimientos y mejorar la eficiencia. Además, brindamos servicios de comercialización para facilitar la venta de los productos agrícolas obtenidos. Con nuestra plataforma, los agricultores pueden acceder a información y asesoramiento especializado, monitorear y controlar sus cultivos, implementar prácticas sostenibles y establecer conexiones con potenciales compradores. ¡Descubre cómo podemos ayudarte a potenciar tus cultivos y maximizar tus oportunidades de venta!">
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, inicial-scale=1.0">
    <title>Home Crops</title>
    <!-- Estilos -->
    <link rel="stylesheet" href="{% static 'homecrops/reset.css' %}">
    <link rel="stylesheet" href="{% static 'homecrops/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymus">
    <link rel="stylesheet" href="https://www.gstatic.com/_/translate_http/_/ss/k=translate_http.tr.69JJaQ5G5xA.L.W.O/d=0/rs=AN8SPfpC36MIoWPngdVwZ4RUzeJYZaC7rg/m=el_main_css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <div class="back">
            <div class="menu container">
                <a href="http://127.0.0.1:8000/homecrops/" > <img src="../../../../static/homecrops/images/CROPSlogoBLANCO.png" class="logo" alt="Logo"> </a>
                <input type="checkbox" id="menu" />
                <label for="menu">
                    <img src="../../../../static/homecrops/images/menu.png" class="menu-icono" >
                </label>   
                <nav class="navbar">
                    <ul>
                        <li> <a href="#">NOSOTROS </a></li>
                        <li> <a href="#">PORTAFOLIO </a></li>
                        <li> <a href="#">BLOG </a></li>
                        <li> <a href="#">CONTACTO </a></li>
                        <li> <a href="#">CEO </a></li>
                    </ul>
                </nav>    

                    <div class="search-bar">
                        <input type="text" class="search-input" placeholder="Buscar">
                        <div class="btn"><i class="fa fa-search"></i></div>
                    </div>
                
                    <div class="login-dropdown">
                    <a href="#" class="login-dropdown-toggle">
                        <i class="far fa-user"></i>
                    </a>
                    </div>

                    <div class="sales">
                        <a href="#" class="sales_icon"> <i class="fas fa-shopping-cart"></i></a>
                    </div>



            </div>
        </div>
    </header>
    

    <main>
        <p>Esta es una página web estática creada con Django.</p>
    </main>
    <footer>
        <div class="redes-container">
            <ul>
                <li><a href="https://www.facebook.com" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://www.instagram.com" class="instagram"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://twitter.com" class="twitter"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://www.pinterest.com" class="pinterest"><i class="fab fa-pinterest-p"></i></a></li>
                <li><a href="https://www.linkedin.com" class="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
