{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Nuestra empresa se dedica a mejorar la producción agrícola mediante el uso de tecnología innovadora. Ofrecemos soluciones y herramientas que ayudan a los agricultores a optimizar sus cultivos, aumentar rendimientos y mejorar la eficiencia. Además, brindamos servicios de comercialización para facilitar la venta de los productos agrícolas obtenidos. Con nuestra plataforma, los agricultores pueden acceder a información y asesoramiento especializado, monitorear y controlar sus cultivos, implementar prácticas sostenibles y establecer conexiones con potenciales compradores. ¡Descubre cómo podemos ayudarte a potenciar tus cultivos y maximizar tus oportunidades de venta!">
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, inicial-scale=1">
    <title>Home Crops</title>
   
    <link rel="stylesheet" href="{% static 'homecrops/reset.css' %}">
    <link rel="stylesheet" href="{% static 'homecrops/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymus">
    <link rel="stylesheet" href="https://www.gstatic.com/_/translate_http/_/ss/k=translate_http.tr.69JJaQ5G5xA.L.W.O/d=0/rs=AN8SPfpC36MIoWPngdVwZ4RUzeJYZaC7rg/m=el_main_css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:wght@700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/fba9d3515b.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="back">
            <div class="menu container">
                <a href="http://127.0.0.1:8000/homecrops/" > <img src="../../../../static/homecrops/images/CROPSlogoBLANCO.png" class="logo" alt="Logo"> </a>
                <input type="checkbox" id="menu" />
                <label for="menu">
                    <img src="../../../../static/homecrops/images/menu.png" class="menu-icono" >
                </label>   
                <nav class="navbar">
                    <ul>
                        <li> <a href="http://127.0.0.1:8000/homecrops/nosotros">NOSOTROS </a></li>
                        <li> <a href="http://127.0.0.1:8000/homecrops/portafolio">PORTAFOLIO </a></li>
                        <li> <a href="http://127.0.0.1:8000/homecrops/contacto">CONTACTO </a></li>
                        <li> <a href="http://127.0.0.1:8000/homecrops/ceo">CEO </a></li>
                    </ul>
                </nav>    

                    <div class="search-bar">
                        <input type="text" class="search-input" placeholder="Buscar">
                        <div class="btn"><i class="fa fa-search"></i></div>
                    </div>
               
                    <div class="login-dropdown">
                    <a href="http://127.0.0.1:8000/accounts/login/" class="login-dropdown-toggle">
                        <i class="far fa-user"></i>
                    </a>
                    </div>

                    <div class="sales">
                        <a href="#" class="sales_icon"> <i class="fas fa-shopping-cart"></i></a>
                    </div>
            </div>
        </div>
    </header>
   

    <main>
        <article>
            <h1>CROPS: Agricultura de precisión para optimizar tus cultivos</h1>
            <p>¡Bienvenido a CROPS, tu socio en agricultura de precisión! Nos enorgullece combinar nuestro conocimiento técnico con la valiosa experiencia de nuestros compañeros campesinos. En CROPS, valoramos la sabiduría acumulada a lo largo de los años en el campo y la aplicamos en el desarrollo de soluciones tecnológicas adaptadas a tus necesidades.</p>
                        <SEction>
                <img src="../../../../static/homecrops/images/planta.png" alt="planta">
                <img src="../../../../static/homecrops/images/cultivo1.png" alt="cultivo1">
                <img src="../../../../static/homecrops/images/cultivo2.png" alt="cultivo2">
                <img src="../../../../static/homecrops/images/datos2.png" alt="datos2">
                <img src="../../../../static/homecrops/images/datos3.png" alt="datos3">
                <img src="../../../../static/homecrops/images/datos4.png" alt="datos4">

            </SEction>
            <p>Nuestra amplia gama de tecnologías de agricultura de precisión incluye sistemas de monitoreo en tiempo real, riego inteligente y manejo eficiente de recursos. Estamos comprometidos en ayudarte a optimizar tu producción agrícola, mejorar la calidad de tus cultivos y maximizar tu rentabilidad. Confía en CROPS como tu aliado en el camino hacia el éxito en la agricultura de precisión. Descubre cómo nuestras soluciones, respaldadas por años de experiencia compartida, pueden transformar tu negocio agrícola. ¡Únete a nosotros y cosecha los beneficios de la combinación entre la innovación tecnológica y la sabiduría del campo!</p>
            <SEction>
                <img src="../../../../static/homecrops/images/temperatura.png" alt="temperatura">
                <img src="../../../../static/homecrops/images/humedad.png" alt="humedad">
                <img src="../../../../static/homecrops/images/iluminacion1.png" alt="iluminacion1">
                <img src="../../../../static/homecrops/images/iluminacion2.png" alt="iluminacion2">
            </SEction>
        </article>
        <article>
            <h1>CROPS: Productos agrícolas de calidad, cultivados con nuestra tecnología de precisión</h1>
            <p>En CROPS, ofrecemos una combinación única de tecnología avanzada y productos agrícolas de alta calidad para satisfacer todas tus necesidades. Nuestra empresa se dedica a cultivar una amplia variedad de productos agrícolas esenciales para la canasta familiar, al tiempo que utilizamos tecnología de vanguardia en nuestra agricultura de precisión. Desde verduras frescas hasta hortalizas y frutas, nuestros cultivos se benefician de las condiciones óptimas y las prácticas sostenibles que aplicamos.</p>
            <p>Pero eso no es todo. En CROPS, también ofrecemos soluciones tecnológicas innovadoras para el campo agrícola. Nuestros avances tecnológicos impulsan la eficiencia, la productividad y la sostenibilidad en el sector. Ya sea en el monitoreo de cultivos, la gestión del riego o la automatización de procesos, nuestra tecnología está diseñada para ayudar a los agricultores a optimizar sus operaciones y obtener mejores resultados.</p>
            <p>Ya sea que estés buscando productos agrícolas frescos y saludables o tecnología agrícola de última generación, en CROPS tenemos lo que necesitas. Nuestra pasión por la calidad y la innovación nos impulsa a ofrecerte lo mejor de ambos mundos. ¡Contáctanos hoy mismo y descubre cómo CROPS puede satisfacer tus necesidades tanto en productos agrícolas como en soluciones tecnológicas!</p>
            <SEction>
                <img src="../../../../static/homecrops/images/sebas1.png" alt="sebas1">
                <img src="../../../../static/homecrops/images/sebas2.png" alt="sebas2">
                <img src="../../../../static/homecrops/images/sebas3.png" alt="sebas3">
                <img src="../../../../static/homecrops/images/sebas4.png" alt="sebas4">
                <img src="../../../../static/homecrops/images/sebas5.png" alt="sebas5">
            </SEction>
            <SEction>

            </SEction>
        </article>
       
        
    </main>
    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="http://127.0.0.1:8000/homecrops/">
                        <img src="../../../../static/homecrops/images/CROPSlogoBLANCO.png" alt="logo">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <p>¡Bienvenido a CROPS! Somos tu socio en agricultura de precisión. Ofrecemos productos agrícolas de calidad y soluciones innovadoras que optimizan la producción y maximizan la rentabilidad. Únete a nosotros y descubre cómo la combinación de conocimiento y tecnología puede transformar tu negocio agrícola.</p>
            </div>
            <div class="box">
                <h2 class="siguenos">SIGUENOS</h2>
                    <div class="redes-container">
                        <ul>
                            <li><a href="https://www.facebook.com" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://www.instagram.com" class="instagram"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="https://twitter.com" class="twitter"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://www.pinterest.com" class="pinterest"><i class="fab fa-pinterest-p"></i></a></li>
                            <li><a href="https://www.linkedin.com" class="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2023 <b>CROPS</b> - Todos los Derechos Reservados.</small>
        </div>

    </footer>
</body>
</html>
