{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Nuestra empresa se dedica a mejorar la producción agrícola mediante el uso de tecnología innovadora. Ofrecemos soluciones y herramientas que ayudan a los agricultores a optimizar sus cultivos, aumentar rendimientos y mejorar la eficiencia. Además, brindamos servicios de comercialización para facilitar la venta de los productos agrícolas obtenidos. Con nuestra plataforma, los agricultores pueden acceder a información y asesoramiento especializado, monitorear y controlar sus cultivos, implementar prácticas sostenibles y establecer conexiones con potenciales compradores. ¡Descubre cómo podemos ayudarte a potenciar tus cultivos y maximizar tus oportunidades de venta!">
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, inicial-scale=1">
    <title>SOBRE NOSOTROS</title>
   
    <link rel="stylesheet" href="{% static 'homecrops/reset.css' %}">
    <link rel="stylesheet" href="{% static 'homecrops/nosotros.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymus">
    <link rel="stylesheet" href="https://www.gstatic.com/_/translate_http/_/ss/k=translate_http.tr.69JJaQ5G5xA.L.W.O/d=0/rs=AN8SPfpC36MIoWPngdVwZ4RUzeJYZaC7rg/m=el_main_css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:wght@700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/fba9d3515b.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="back">
            <div class="menu container">
                <a href="http://127.0.0.1:8000/homecrops/" > <img src="../../../../static/homecrops/images/CROPSlogoBLANCO.png" class="logo" alt="Logo"> </a>
                <input type="checkbox" id="menu" />
                <label for="menu">
                    <img src="../../../../static/homecrops/images/menu.png" class="menu-icono" >
                </label>   
                <nav class="navbar">
                    <ul>
                        <li> <a href="http://127.0.0.1:8000/homecrops/nosotros">NOSOTROS </a></li>
                        <li> <a href="http://127.0.0.1:8000/homecrops/portafolio">PORTAFOLIO </a></li>
                        <li> <a href="http://127.0.0.1:8000/homecrops/contacto">CONTACTO </a></li>
                        <li> <a href="http://127.0.0.1:8000/homecrops/ceo">CEO </a></li>
                    </ul>
                </nav>    

                    <div class="search-bar">
                        <input type="text" class="search-input" placeholder="Buscar">
                        <div class="btn"><i class="fa fa-search"></i></div>
                    </div>
               
                    <div class="login-dropdown">
                    <a href="http://127.0.0.1:8000/accounts/login/" class="login-dropdown-toggle">
                        <i class="far fa-user"></i>
                    </a>
                    </div>
                    <div class="sales" id="sales">
                        <a href="#" class="sales_icon"> <i class="fas fa-shopping-cart"></i></a>
                    </div>
            </div>
        </div>
    </header>
   

    <main>
        <article>
            <h1>HISTORIA</h1>
            <p>CROPS surge como una solución revolucionaria en La Elvira, un hermoso rincón rural del Valle del Cauca. Conscientes de la falta de inversión tecnológica y las limitaciones económicas de los pequeños productores, nos inspira la visión de adaptar la tecnología a sus necesidades. Así nace la agricultura de precisión, una innovadora máquina de sensado y automatización en tiempo real, diseñada para potenciar la productividad y eficiencia en cada terreno. Estamos comprometidos con impulsar el crecimiento y desarrollo agrícola, brindando soluciones tecnológicas accesibles y transformando la manera en que se cultiva en nuestra región.</p>
            <figure>
                <div class="image-container">
                    <img src="../../../../static/homecrops/images/la_elvira.png" alt="la_elvira">
                    <figcaption>La Elvira</figcaption>
                </div>
            </figure>
            <p>La semilla de esta idea germinó a partir de la experiencia de un familiar que emprendió un negocio prometedor con un país extranjero. Desafortunadamente, la falta de producción constante y las exigencias rigurosas en materia de salubridad impidieron que el proyecto prosperara. Fue entonces cuando se forjó el propósito de brindar apoyo tecnológico y asesoramiento a los pequeños productores, sometiendo todas las soluciones a pruebas exhaustivas antes de su implementación a gran escala.</p>
            <p>Sin embargo, nos encontramos con un obstáculo adicional: la falta de respaldo gubernamental para proporcionar a estos productores una ubicación más favorable, lejos de los peligros que acechan en la Carrera 10, entre las calles 13 y 14. Es así como surge la iniciativa de ofrecer un servicio de entrega a domicilio, llevando directamente del productor al consumidor los productos frescos y cultivados con esmero, con el objetivo de maximizar el apoyo a nuestros valientes agricultores.</p>
            <p>Estas iniciativas fueron concebidas tras un riguroso estudio durante mi trayectoria profesional, en busca de retribuir a la comunidad que me ha brindado tantas alegrías y conocimientos. Impulsado por los valiosos aprendizajes adquiridos en la prestigiosa Universidad del Magdalena, me comprometo a mejorar las condiciones de vida de nuestros conciudadanos, poniendo en práctica los conocimientos más avanzados y trabajando incansablemente por el bienestar de nuestra amada comunidad.</p>
        </article>
        <article>
            <div class="titulo2">
                <h2 class="raparto">Misión:</h2>   
            </div>
            
            <p>En Crops, nos dedicamos a impulsar la agricultura de precisión en Colombia y promover prácticas agrícolas sostenibles. Nuestra misión es proporcionar instrumentos de última generación para la agricultura de precisión, ofreciendo un acompañamiento completo en la instalación, mantenimiento y asesoramiento técnico de nuestras máquinas. Fomentamos nuevas formas de cultivo más saludables y sostenibles, y también nos enorgullece ofrecer una amplia gama de productos agrícolas de alta calidad, cultivados y desarrollados mediante nuestras tecnologías innovadoras. Buscamos ser un referente en el impulso de una agricultura inteligente y sostenible en Colombia, promoviendo la productividad, la eficiencia y el cuidado del medio ambiente.</p>
        </article>
        <article>
            <div class="titulo2">
               <h2 class="reparto">Visión:</h2> 
            </div>
            <p>Nos visualizamos como líderes en la industria de la agricultura de precisión en Colombia, siendo reconocidos por nuestra excelencia en la calidad de nuestros productos y servicios. Nuestra visión es transformar el sector agrícola colombiano en los próximos 5 años, impulsando la adopción de tecnologías avanzadas y prácticas sostenibles. Buscamos ser un socio confiable para los agricultores y actores del sector, brindando soluciones integrales y acompañamiento especializado en la implementación de la agricultura de precisión. Queremos contribuir al desarrollo agrícola del país, promoviendo la seguridad alimentaria, la protección del medio ambiente y el bienestar de las comunidades rurales en Colombia.</p>
        </article>

    </main>
    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="http://127.0.0.1:8000/homecrops/">
                        <img src="../../../../static/homecrops/images/CROPSlogoBLANCO.png" alt="logo">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h3>SOBRE NOSOTROS</h3>
                <p>¡Bienvenido a CROPS! Somos tu socio en agricultura de precisión. Ofrecemos productos agrícolas de calidad y soluciones innovadoras que optimizan la producción y maximizan la rentabilidad. Únete a nosotros y descubre cómo la combinación de conocimiento y tecnología puede transformar tu negocio agrícola.</p>
            </div>
            <div class="box">
                <h3 class="siguenos">SIGUENOS</h3>
                    <div class="redes-container">
                        <ul>
                            <li><a href="https://www.facebook.com" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://www.instagram.com" class="instagram"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="https://twitter.com" class="twitter"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://www.pinterest.com" class="pinterest"><i class="fab fa-pinterest-p"></i></a></li>
                            <li><a href="https://www.linkedin.com" class="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2023 <b>CROPS</b> - Todos los Derechos Reservados.</small>
        </div>

    </footer>
</body>
</html>
